* {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    /* background: #353935; */
}

.comments {
    width: 400px;
}

.parents {
    background: #fff;
    padding: 20px;
}

/* .comment {
    width: 400px;
    background: #fff;
    padding: 10px;
    border-left: 3px solid purple;
}

.comment div {
    width: 100%;
    margin: 20px 0;
}

.comment div input {
    width: 100%;
    outline: none;
    border: none;
}

.comment div textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    font-family: Arial, sans-serif;
}

.comment div:nth-child(2) {
    margin-bottom: 0;
}

.comment div:last-child {
    margin: 0;
    text-align: right;
}

.comment div button {
    padding: 5px 15px;
    background: purple;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}

.parent {
    background: #fff;
    padding: 10px;
    width: 400px;
} */

/* 

#36454F
#023
#353935
28282B




*/